<!-- <!DOCTYPE html>

<div align="center">
  <h1><font size="7" color="black">TN1</font></h1> est. 2017
  <font size="5" color="black">A neural network consultancy</font>
</div>


<div class="footer-container" style="background-color: #ececec" >
  <div class="border-row" style="width:100%; margin-bottom: 15px;">

<footer id="footer">
  <div align="left" class ="row">
    <div class="col-sm-4">
    <font size="1" color="black"><p>About</font>
    <font size="1" color="black"><p>About Us</font>
    <font size="1" color="black"><p>Technology</font>
    <font size="1" color="black"><p>Contact</font>
    <font size="1" color="black"><p>Support Us</font>
  </div>

  <div align="center" class ="row">
    <font size="1" color="black"><p>TN1</font>
    <font size="1" color="black"><p>Awards</font>
    <font size="1" color="black"><p>Testimonials</font>
    <font size="1" color="black"><p>Docs</font>
    <font size="1" color="black"><p>Origins</font>
  </div>

  <div align="right" class ="row">
    <font size="1" color="black"><p>Social</font>
    <font size="1" color="black"><p>Blog</font>
    <font size="1" color="black"><p>Twitter</font>
    <font size="1" color="black"><p>Youtube</font>
    <font size="1" color="black"><p>Google+</font>
  </div>
</footer> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TN1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      background-color: #ffffff;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #ffffff;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #ffffff;
      color: black;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TN1</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <!-- <li><a href="#">Technology</a></li> -->
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!-- insert items for left sidebar here -->
    </div>
    <div class="col-sm-8 text-left">

      <!-- <center><img src="../assets/TN1_website_asset_logo.jpg"></center> -->
      <center>
      <h1><font face="helvetica" size="7" color="black">TN1</font></h1>
      <p>A neural network currently in training</p>
      </center>
      <hr>
      <h3>Insert current functionality table</h3>
      <p></p>
    </div>
    <div class="col-sm-2 sidenav">
      <!--  insert items for right sidebar here -->
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Ts & Cs</p>
</footer>

</body>
</html>
